{% load i18n %}
<div class="items">
    <h3>参与的讨论</h3>
{% for item in belongitems %}
    {% include "item/itemline.html" %}
{% endfor %}
{% if belongitems.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if belongitems.has_previous %}
            <a class="previous-page" href="?page={{ belongitems.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            {{ belongitems.number }} / {{ belongitems.paginator.num_pages }}
        </span>

        {% if belongitems.has_next %}
            <a class="next-page" href="?page={{ belongitems.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% if not belongitems %}暂无数据{% endif %}
</div>
