{% load i18n %}
<div class="items">
    <h3>{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}参与的讨论{% else %}Comment{% endif %}</h3>
{% for item in belongitems %}
    {% include "item/itemline.html" %}
{% endfor %}
{% if belongitems.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if belongitems.has_previous %}
            <a class="previous-page" href="?page={{ belongitems.previous_page_number }}">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}上一页{% else %}Previous{% endif %}</a>
        {% endif %}

        <span class="current">
            {{ belongitems.number }} / {{ belongitems.paginator.num_pages }}
        </span>

        {% if belongitems.has_next %}
            <a class="next-page" href="?page={{ belongitems.next_page_number }}">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}下一页{% else %}Next{% endif %}</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% if not belongitems %}{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}暂无数据{% else %}No Data Yet{% endif %}{% endif %}
</div>
