{% extends "base.html" %}

{% block title %}发布信息 - {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="content create">
            <h3>发布信息</h3>
            <form class="itemform" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="description"><textarea name="content">{{ form.content.value }}</textarea></p>
                <!--<p>附件：
                <br />
                <input class="file" name="file" type="file" value={{ form.file.value }} />
                <br />
                (小于2MB有效)</p>-->
                
                <p><input class="submit" type="submit" value="发布信息" /></p>
            </form>
        </div>
    {% endif %}
{% endblock %}
{% block footer %}
<script type="text/javascript" src="/s/js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/s/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/s/js/jquery.fileupload.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".itemform .submit").parent().before('\
        <p style="text-align: center;">\
            <input class="wbimg" type="file" name="file" style="display: none;" />\
            <input class="fileselectbutton" type="button" value="上传图片" />\
        </p>\
        <div class="process" style="width: 100%; display: none;">\
            <div class="processbar" style="width: 0%; height: 18px; background: black;"></div>\
        </div>\
        <div class="uploadinfo" style="text-align: center; height: 18px;"></div>\
    ');
    $(".itemform .fileselectbutton").click(function(){
        $(this).clostest(".itemform").find(".wbimg").click();
    });
    $(".itemform .wbimg").fileupload({
        url: "/wi/",
        dataType: "jsonp",
        done: function(e, data){
            $(this).prop("disabled", false);
            $(this).next(".fileselectbutton").prop("disabled", false);
            $(this).clostest(".itemform").find(".submit").prop("disabled", false);
            var wbimgurl = data.result.bmiddle_pic;
            $(this).clostest(".itemform").find("textarea").val($(this).clostest(".itemform").find("textarea").val() + " " + wbimgurl);
            $(this).clostest(".itemform").find(".process").hide();
            $(this).clostest(".itemform").find(".uploadinfo").show();
            $(this).clostest(".itemform").find(".uploadinfo").text("");
            
        },
        fail: function(e, data){
            $(this).prop("disabled", false);
            $(this).next(".fileselectbutton").prop("disabled", false);
            $(this).clostest(".itemform").find(".submit").prop("disabled", false);
            $(this).clostest(".itemform").find(".process").hide();
            $(this).clostest(".itemform").find(".uploadinfo").show();
            $(this).clostest(".itemform").find(".uploadinfo").text("上传失败，请检查文件后重试。");
        },
        progressall: function(e, data){
            $(this).clostest(".itemform").find(".process").show();
            $(this).clostest(".itemform").find(".uploadinfo").hide();
            var process = parseInt(data.loaded / data.total * 100, 10);
            $(this).clostest(".itemform").find(".process .processbar").css("width", process + "%");
        },
        add: function(e, data){
            $(this).prop("disabled", true);
            $(this).next(".fileselectbutton").prop("disabled", true);
            $(this).clostest(".itemform").find(".submit").prop("disabled", true);
            $(this).clostest(".itemform").find(".process").hide();
            $(this).clostest(".itemform").find(".uploadinfo").show();
            $(this).clostest(".itemform").find(".uploadinfo").text("正在上传…");
            data.submit();
        }
    });
});
</script>
{% endblock %}
