{% extends "base.html" %}

{% block title %}我发布的信息 - {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="content tasks">
            <h3>我发布的信息</h3>
            {% for item in itemss %}
            <div class="task-line">
                <div class="task-title"><a href="/i/{{ item.id }}/">{{ task.title }}</a></div>
                <div class="task-info">{% if task.status == 'cancel' %}(已取消){% endif %} {{ task.created|date:"Y-m-d H:i:s" }}</div>
            </div>
            {% endfor %}
            {% if tasks.paginator.num_pages > 1 %}
            <div class="pagination">
                <span class="step-links">
                    {% if tasks.has_previous %}
                        <a href="?page={{ tasks.previous_page_number }}">上一页</a>
                    {% endif %}

                    <span class="current">
                        {{ tasks.number }}/{{ tasks.paginator.num_pages }}
                    </span>

                    {% if tasks.has_next %}
                        <a href="?page={{ tasks.next_page_number }}">下一页</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}