{% load i18n %}
<div class="item">
    <div class="avatar-area"><div class="avatar" style="background: url({% if item.user.userprofile.openid %}{{ item.user.userprofile.avatar }}{% else %}{% if item.user.userprofile.avatar %}/s/{{ item.user.userprofile.avatar }}{% else %}/s/avatar/n.png{% endif %}{% endif %}) no-repeat;background-size: cover;background-position: center;"><img src="{% if item.user.userprofile.openid %}{{ item.user.userprofile.avatar }}{% else %}{% if item.user.userprofile.avatar %}/s/{{ item.user.userprofile.avatar }}{% else %}/s/avatar/n.png{% endif %}{% endif %}" alt="{{ item.user.username }}" /></div></div>
    <div class="item-line">
        <div class="item-info">
            <span class="item-info-right"><a class="item-created">{% if item.lastsubitem.create %}{% blocktrans with item.lastsubitem.create|timesince as update %}{{ update }}{% endblocktrans %}{% else %}{% blocktrans with item.itemcontent_set.last.create|timesince as update %}{{ update }}{% endblocktrans %}{% endif %}前</a>
            </span>

            <span class="item-info-left">
                {% if item.url %}
                <span class="username">{{ item.user.username }}</span>
                {% else %}
                <a class="item-author" href="/{{ item.user.username }}/"><span class="username">{{ item.user.username }}</span></a>
                {% endif %}

                <span class="userinfo">{{ item.user.userprofile.info }}</span>
            </span>
        </div>
        <div class="item-title">
        {% if item.url %}
            <a href="{{ item.url }}" target="blank">{{ item.title }}</a>
        {% else %}
            {% if item.subitemcount %}
            <a class="subitemcount" href="/i/{{ item.id }}/#{{ item.lastsubitem.id }}">{{ item.subitemcount }}</a>
            {% endif %}
            <a class="item-title" href="/i/{{ item.id }}/">{{ item.title }}</a>
        {% endif %}
        </div>
        <div class="item-tags">{% for tag in item.tag.all %}<div class="item-tag"><a href="/t/{{ tag.id }}/">{{ tag.name }}</a></div>{% endfor %}</div>
    </div>
</div>
