{% load i18n %}
        <div class="items">
        {% for item in items %}
        <div class="item">
            <div class="avatar-area"><div class="avatar" style="background: url({% if item.user.userprofile.openid %}{{ item.user.userprofile.avatar }}{% else %}{% if item.user.userprofile.avatar %}/s/{{ item.user.userprofile.avatar }}{% else %}/s/avatar/n.png{% endif %}{% endif %}) no-repeat;background-size: cover;background-position: center;"><img src="{% if item.user.userprofile.openid %}{{ item.user.userprofile.avatar }}{% else %}{% if item.user.userprofile.avatar %}/s/{{ item.user.userprofile.avatar }}{% else %}/s/avatar/n.png{% endif %}{% endif %}" alt="{{ item.user.username }}" /></div></div>
            <div class="item-line">
                <div class="item-info">
                    <span class="item-info-right"><a class="item-created">{% blocktrans with item.itemcontent_set.first.create|timesince as update %}{{ update }}{% endblocktrans %}前</a>
                    </span>
                    
                    <span class="item-info-left">
                        {% if item.url %}
                        <span class="username">{{ item.user.username }}</span>
                        {% else %}
                        <a class="item-author" href="/{{ item.user.username }}/"><span class="username">{{ item.user.username }}</span></a>
                        {% endif %}
                        
                        <span class="userinfo">{{ item.user.userprofile.info }}</span>
                    </span>
                </div>
                <div class="item-title">
                    <a class="item-title" href="/i/{{ item.id }}/">{% if item.itemcontent_set.first.content|slice:100 %}{{ item.title }}{% else %}{{ item.id }}{% endif %}</a>
                </div>
                <div class="item-tags">{% for tag in item.tags %}<div class="item-tag">{{ tag }}</div>{% endfor %}</div>
            </div>
        </div>
        {% endfor %}
        {% if items.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if items.has_previous %}
                    <a class="previous-page" href="?page={{ items.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                    {{ items.number }} / {{ items.paginator.num_pages }}
                </span>

                {% if items.has_next %}
                    <a class="next-page" href="?page={{ items.next_page_number }}">下一页</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
        </div>
