{% load i18n %}
<div class="items">
{% for item in items %}
    {% include "item/itemline.html" %}
{% endfor %}
{% if items.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
            <a class="previous-page" href="?page={{ items.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            {{ items.number }} / {{ items.paginator.num_pages }}
        </span>

        {% if items.has_next %}
            <a class="next-page" href="?page={{ items.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% if not items %}暂无数据{% endif %}
</div>
