{% extends "base.html" %}

{% block title %}{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}链接{% else %}Links{% endif %} - {% endblock %}

{% block content %}
        <div class="content link">
            <p style="text-align:center;"><!--<a class="randombtn" href="/i/link/">换一换</a> --><a class="addlinkbtn">添加链接</a></p>
            <form class="linkform" method="post" style="display:none;position:fixed;width:340px;top:15%;left:50%;margin-left:-190px;padding:20px;background:whitesmoke;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;opacity: 0.9;filter: alpha(opacity=90);text-align:center;">
                {% csrf_token %}
                <p class="url"><input type="text" name="url" placeholder="{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}地址，如 http://hulu.im{% else %}URL{% endif %}" value="{% if form.url.value %}{{ form.url.value }}{% endif %}" /></p>
                <p class="logo"><input type="hidden" name="logo" placeholder="{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}{% else %}{% endif %}" value="{% if form.logo.value %}{{ form.logo.value }}{% endif %}" /></p>
                <p class="title"><input type="hidden" name="title" placeholder="{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}标题{% else %}Title{% endif %}" value="{% if form.title.value %}{{ form.title.value }}{% endif %}" /></p>
                <!--<p class="description"><input type="text" name="description" placeholder="{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}简介{% else %}Description{% endif %}" value="{% if form.description.value %}{{ form.description.value }}{% endif %}" /></p>-->

                <p class="submit-btn"><input class="submit" type="submit" value="{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}添加链接{% else %}Add Link{% endif %}" /></p>
                <p class="logopreview"></p>
            </form>
            <div class="links">
                {% for link in links %}
                <a class="friendlink" href="?f={{ link.url }}&check=true" target="blank" title="{{ link.title }}{% if link.description %} - {{ link.description }}{% endif %}">
                <div class="link-box">
                    <div class="link-logo"><img src="{% if link.logo %}{{ link.logo }}{% else %}/s/avatar/n.png{% endif %}" /></div>
                    <div class="link-title">{{ link.title }}</div>
                    <!--<div class="link-description">{{ link.description }}</div>-->
                </div>
                </a>
                {% endfor %}
            </div>
        </div>
{% endblock %}
{% block footer %}
<script type="text/javascript">
$(document).ready(function(){
    $(".addlinkbtn").click(function(){
        $(".linkform").show();
        $(".addlinkbtn").css({"visibility": "hidden"});
        return false;
    });
    var mouseoverform = 0;
    $(".linkform").mouseover(function(){
        mouseoverform = 1;
    }).mouseout(function(){
        mouseoverform = 0;
    });

    var urlreg = /[a-zA-z]+\:\/\/[^\s]*/;

    $(".linkform .url input").on("propertychange paste change", function(){
        $(".logopreview").html("");
        var url = $(this).val().trim();
        if($(".logopreview img").length > 0){
            $(".logopreview img").remove();
        }
        $(".linkform .logo input").val("");
        if (url != "" && urlreg.test(url)) {
            var favicon = url.split("://")[0] + "://" + url.split("://")[1].split("/")[0] + "/favicon.ico"
            $("<img>", {
                src: favicon
            }).on("load", function() {
                if($(".logopreview img").length == 0){
                    $(".logopreview").prepend($(this));
                }
                $(".linkform .logo input").val(favicon);
            }).on("error", function() {
                if($(".logopreview img").length == 0){
                    $(".logopreview").prepend($("<img src=\"/s/loading.gif\" />"));
                }
            });

            $.ajax({
                url: "?type=fetch&url=" + url,
                type: "GET",
                dataType: "JSON",
                success: function(data){
                    var title = data.title;
                    if (title != "") {
                        $(".linkform .title input").val(title);
                        $(".logopreview div").remove();
                        $(".logopreview").append("<div>" + title + "</div>");
                    }
                    var logo = data.logo;
                    if (logo != "") {
                        $(".logopreview img").attr("src", logo);
                    }
                },
                error: function(){
                    $(".logopreview").html("<div>{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}加载失败{% else %}Load Failed{% endif %}</div>");
                }
            });
        }
    });
    $(".links img").on("error", function() {
        $(this).attr("src", "/s/avatar/n.png");
    });
    $(".wrapper").click(function(){
        if (mouseoverform == 0){
            $(".linkform").hide();
            $(".addlinkbtn").css({"visibility": "visible"});
        }
    });
    $(".linkform .submit").click(function(e){
        //e.preventDefault();
        var url = $(".linkform .url input").val().trim();
        if( url == "" || !urlreg.test(url) || ( url.split("://")[1].split("/").length > 1 && url.split("://")[1].split("/")[1] != "" ) ){
            $(".linkform .url input").focus();
            return false;
        }
        if($(".linkform .title input").val().trim() == ""){
            $(".linkform .title input").focus();
            return false;
        }
    });
});
</script>
{% endblock %}
