{% extends "base.html" %}
{% load i18n %}

{% block title %}{% if item %}{{ item.title }}{% else %}页面不存在{% endif %} - {% endblock %}

{% block content %}
    <div class="content item">
    {% if item %}
        <div class="avatar-area">
            <div class="avatar" style="background: url({% if item.user.userprofile.openid %}{{ item.user.userprofile.avatar }}{% else %}{% if item.user.userprofile.avatar %}/s/{{ item.user.userprofile.avatar }}{% else %}/s/avatar/n.png{% endif %}{% endif %}) no-repeat;background-size: cover;background-position: center;"><img src="{% if item.user.userprofile.openid %}{{ item.user.userprofile.avatar }}{% else %}{% if item.user.userprofile.avatar %}/s/{{ item.user.userprofile.avatar }}{% else %}/s/avatar/n.png{% endif %}{% endif %}" /></div>
        </div>
        <div class="item-head">
            <div class="item-info">
                <span class="item-info-right"><a class="item-created">{% with item.itemcontent_set.all|first as itemcontent %}{{ itemcontent.create|date:'Y-m-d H:i:s'}}{% endwith %}</a></span>
                
                <span class="item-info-left"><a class="username" href="/{{ item.user.username }}/"><span class="username">{{ item.user.username }}</span></a>
                
                <span class="userinfo">{{ item.user.userprofile.info }}</span></span>
            </div>
            <h3 class="item-title"><a href="/i/{{ item.id }}/">{{ item.title }}</a></h3>
            <div class="item-tags">{% for tag in item.tags %}<div class="item-tag">{{ tag }}</div>{% endfor %}</div>
        </div>
        <div class="line">
        {% for itemcontent in item.itemcontent_set.all %}
            <div class="itemcontent">
                {% if forloop.first %}
                <div class="itemcontent-content"><pre>{{ item.firstcontent }}</pre></div>
                {% else %}
                <p class="updated">{{ itemcontent.create|date:'Y-m-d H:i:s' }}</p>
                <div class="itemcontent-content"><pre>{{ itemcontent.content }}</pre></div>
                {% endif %}
                {% for attachmentfile in itemcontent.contentattachment_set.all %}
                    {% if 'svg' in attachmentfile.contenttype %}
                    {{ attachmentfile.content|safe }}
                    {% elif 'image' in attachmentfile.contenttype %}
                    <p><img src="/s/{{ attachmentfile.file }}" title="{{ attachmentfile.title }}" /></p>
                    {% elif 'audio' in attachmentfile.contenttype %}
                    <p><audio controls>
                        <source src="/s/{{ attachmentfile.file }}" type="audio/ogg">
                        <a href="/s/{{ attachmentfile.file }}"><span style="font-style: italic;">(附件)</span> {{ attachmentfile.title }}</a>
                    </audio></p>
                    {% else %}
                    <p><a href="/s/{{ attachmentfile.file }}"><span style="font-style: italic;">(附件)</span> {{ attachmentfile.title }}</a></p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        </div>
        {% if item.user.username == user.username %}
            <p class="operate">
                <a href="/i/update/{{ item.id }}/#update-form">更新</a>
            </p>
        {% endif %}
        
        <h3>评论</h3>
        <div class="comments">
        {% if items %}
            {% for subitem in items %}
                <div class="comment" id="{{ subitem.id }}">
                    <div class="comment-avatar-area"><div class="comment-avatar" style="background: url({% if subitem.user.userprofile.openid %}{{ subitem.user.userprofile.avatar }}{% else %}{% if subitem.user.userprofile.avatar %}/s/{{ subitem.user.userprofile.avatar }}{% else %}/s/avatar/n.png{% endif %}{% endif %}) no-repeat;background-size: cover;background-position: center;"><img src="{% if subitem.user.userprofile.openid %}{{ subitem.user.userprofile.avatar }}{% else %}{% if subitem.user.userprofile.avatar %}/s/{{ subitem.user.userprofile.avatar }}{% else %}/s/avatar/n.png{% endif %}{% endif %}" /></div></div>
                    <div class="item-line">
                        <div class="item-info">
                            <span class="item-info-right"><a class="item-created">{% with subitem.itemcontent_set.all|first as itemcontent %}{{ itemcontent.create|date:'Y-m-d H:i:s' }}{% endwith %}</a></span>
                            
                            <span class="comment-author"><a class="username" href="/{{ subitem.user.username }}/"><span class="username">{{ subitem.user.username }}</span></a>
                            <span class="userinfo">{{ subitem.user.userprofile.info }}</span></span>
                        </div>
                        
                        {% for itemcontent in subitem.itemcontent_set.all %}
                            <div class="item-info">
                            {% if subitem.belong and item not in subitem.belong.all %}
                                <div class="comment-reply-to">
                                {% for i in subitem.belong.all %}
                                    <span class="comment-author"><a class="username" href="/{{ i.user.username }}/"><span class="username">{{ i.user.username }}</span></a>
                            <span class="userinfo">{{ i.user.userprofile.info }}</span></span><div class="itemcontent-content"><pre>{% with i.itemcontent_set.all|first as itemcontent %}{{ itemcontent.content }}{% endwith %}</pre></div>
                                {% endfor %}
                                </div>
                            {% endif %}
                            </div>
                            <div class="itemcontent-content"><pre>{{ itemcontent.content }}</pre></div>
                            
                            {% for attachmentfile in itemcontent.contentattachment_set.all %}
                                {% if 'svg' in attachmentfile.contenttype %}
                                {{ attachmentfile.content|safe }}
                                {% elif 'image' in attachmentfile.contenttype %}
                                <p><img src="/s/{{ attachmentfile.file }}" title="{{ attachmentfile.title }}" /></p>
                                {% elif 'audio' in attachmentfile.contenttype %}
                                <p><audio controls>
                                    <source src="/s/{{ attachmentfile.file }}" type="audio/ogg">
                                    <a href="/s/{{ attachmentfile.file }}"><span style="font-style: italic;">(附件)</span> {{ attachmentfile.title }}</a>
                                </audio></p>
                                {% else %}
                                <p><a href="/s/{{ attachmentfile.file }}"><span style="font-style: italic;">(附件)</span> {{ attachmentfile.title }}</a></p>
                                {% endif %}
                            {% endfor %}
                            
                            <div class="comment-operate">
                                <a class="comment-reply" href="{% if user.is_authenticated %}?reply={{ subitem.id }}#comment-form{% else %}{% url 'login' %}?next={{ request.path }}?reply={{ subitem.id }}#comment-form{% endif %}">回复</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            {% if items.paginator.num_pages > 1 %}
            <div class="pagination">
                <span class="step-links">
                    {% if items.has_previous %}
                        <a href="?page={{ items.previous_page_number }}">上一页</a>
                    {% endif %}

                    <span class="current">
                        {{ items.number }} / {{ items.paginator.num_pages }}
                    </span>

                    {% if items.has_next %}
                        <a href="?page={{ items.next_page_number }}">下一页</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        {% else %}
            <p>暂无评论。</p>
        {% endif %}
        </div>
        
        {% if user.is_authenticated %}
        {{ form.content.errors }}{{ form.file.errors }}
        <form method="post" class="comment-form" id="comment-form" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="comment-parent" name="reply" type="hidden"{% if request.GET.reply %} value="{{ request.GET.reply }}"{% endif %} />
            <p class="comment-content">{% if reply %}<span class="comment-reply-to">回复 {{ reply.user.username }}：</span>{% endif %}<textarea name="content">{{ form.content.value }}</textarea></p>
            <!--<p>附件：
            <br />
            <input class="file" name="file" type="file" />
            <br />
            (小于2MB有效)</p>-->
            <p><input class="submit" type="submit" value="提交" /></p>
        </form>
        {% else %}
            <p><a href="{% url 'login' %}?next={% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.get_full_path }}{% endif %}">登录</a>
            或
            <a href="{% url 'signup' %}?next={% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.get_full_path }}{% endif %}">注册</a>
            以参与评论。</p>
            <p><a href="/u/login?type=qq&next={% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.path }}{% endif %}"><img src="https://qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/Connect_logo_3.png" /></a></p>
        {% endif %}
    
    {% else %}
        <p>抱歉，页面不存在。</p>
    {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="sidebar">
        <div class="wxpay" style="width: 240px; height: 240px; background: url(/s/wxpay.png) no-repeat; background-size: cover; background-position: center; margin: 0 auto;"></div>
    </div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).ready(function(){
{% if user.is_authenticated %}
    $(".comment .comment-operate .comment-reply").click(function(){
        $(".comment .comment-operate .cancel-comment-reply").each(function(){
            $(this).closest(".comment .comment-operate").find(".comment-reply").show();
            $(this).remove();
            return false;
        });
        
        $(".comment-form .comment-parent").val($(this).closest(".comment").attr("id"));
        $(".comment-form .comment-content .comment-reply-to").remove();
        $(".comment-form .comment-content").prepend("<span class=\"comment-reply-to\">回复 " + $(this).closest(".comment").find(".comment-author span.username").text() + "：</span>");
        $(this).hide();
        $(this).after("<a class=\"cancel-comment-reply\" href=\"\">取消回复</a>");
        $(".comment-form").appendTo($(this).closest(".comment"));
        $(".comment .comment-operate .cancel-comment-reply").click(function(){
            $(".comment-form .comment-parent").val("");
            $(".comment-form .comment-content .comment-reply-to").remove();
            $(this).closest(".comment .comment-operate").find(".comment-reply").show();
            $(this).remove();
            $(".comment-form").appendTo(".content");
            return false;
        });
        $(".comment-form textarea").focus();
        return false;
    });
{% endif %}
});
</script>
{% endblock %}
