{% if tags %}<div class="item-tags">
    <h3>{% if 'zh_CN' in request.META.HTTP_ACCEPT_LANGUAGE %}话题{% else %}Tags{% endif %}</h3>
    {% for tag in tags %}
        <div class="item-tag"><a href="/t/{{ tag.id }}/">{{ tag.name }}</a></div>
    {% endfor %}
    <form class="newtagform" action="/i/create/" method="get">
        <input class="item-tag-name" name="t" type="text" />
        <input class="submit item-tag-submit" type="submit" value="{% if 'zh_CN' in request.META.HTTP_ACCEPT_LANGUAGE %}新话题{% else %}New Tag{% endif %}" />
    </form>
</div>{% endif %}
