{% extends "base.html" %}
{% load i18n %}

{% block title %}{% endblock %}

{% block content %}
    <div class="content home">
        <div class="items">
        {% for item in items %}
        <div class="item">
            <div class="avatar-area"><div class="avatar" style="background: url({% if item.user.userprofile.openid %}{{ item.user.userprofile.avatar }}{% else %}{% if item.user.userprofile.avatar %}/s/{{ item.user.userprofile.avatar }}{% else %}/s/avatar/n.png{% endif %}{% endif %}) no-repeat;background-size: cover;background-position: center;"><img src="{% if item.user.userprofile.openid %}{{ item.user.userprofile.avatar }}{% else %}{% if item.user.userprofile.avatar %}/s/{{ item.user.userprofile.avatar }}{% else %}/s/avatar/n.png{% endif %}{% endif %}" /></div></div>
            <div class="item-line">
                <div class="item-info">
                    <span class="item-info-right"><a class="item-created">{% blocktrans with item.lastsubitem.create|timesince as update %}{{ update }}{% endblocktrans %}前</a>
                    </span>
                    
                    <span class="item-info-left">
                        {% if item.url %}
                        <span class="username">{{ item.user.username }}</span>
                        {% else %}
                        <a class="item-author" href="/{{ item.user.username }}/"><span class="username">{{ item.user.username }}</span></a>
                        {% endif %}
                        <br />
                        <span class="userinfo">{{ item.user.userprofile.info }}</span>
                    </span>
                </div>
                <div class="item-title">
                {% if item.url %}
                    <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
                {% else %}
                    {% if item.subitemcount %}
                    <a class="subitemcount" href="/i/{{ item.id }}/#{{ item.lastsubitem.id }}">{{ item.subitemcount }}</a>
                    {% endif %}
                    <a class="item-title" href="/i/{{ item.id }}/">{{ item.title }}</a>
                {% endif %}
                </div>
                <div class="item-tags">{% for tag in item.tags %}<div class="item-tag">{{ tag }}</div>{% endfor %}</div>
            </div>
        </div>
        {% endfor %}
        {% if items.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if items.has_previous %}
                    <a class="previous-page" href="?page={{ items.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                    {{ items.number }} / {{ items.paginator.num_pages }}
                </span>

                {% if items.has_next %}
                    <a class="next-page" href="?page={{ items.next_page_number }}">下一页</a>
                {% else %}<!--for Zhihu-->
                    {% if request.GET.page %}
                        <a class="next-page" href="?page={{ request.GET.page|add:1 }}">下一页</a>
                    {% else %}
                        <a class="next-page" href="?page=2">下一页</a>
                    {% endif %}<!--for Zhihu-->
                {% endif %}
            </span>
        </div>
        {% else %}<!--for Zhihu-->
        <div class="pagination">
            <span class="step-links">
                <span class="current"></span>
                {% if request.GET.page %}
                    <a class="next-page" href="?page={{ request.GET.page|add:1 }}">下一页</a>
                {% else %}
                    <a class="next-page" href="?page=2">下一页</a>
                {% endif %}
            </span>
        </div><!--for Zhihu-->
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).ready(function(){
    var load_next_page = function(){
        if ($(".content.home .items .pagination .next-page").length > 0) {
            $(".content.home>.items>.item").last().css({"border": "none"});     //去掉末行底部边框
            $(".content.home .items .pagination .current").hide();
            $(".content.home .items .pagination .previous-page").hide();
            $(".content.home .items .pagination .next-page").text("加载更多");
            //$(".content.home .items .pagination .next-page").css({"width": "100%", "height":"30px"});
            $(".content.home .items .pagination .next-page").click(function(){
                var url = $(this).attr("href");
                $(".content.home .items .pagination .next-page").text("加载中…");
                $(".content.home .items .pagination .next-page").attr("disabled",true);
                $(".content.home .items .pagination .current").load(url + " .items", function(){
                    //去掉页数超限情况下的重复项
                    $(".content.home>.items .pagination .current .items .item").each(function(){
                        var thus = $(this);
                        var itemlink = $(this).find(".item-title a").attr("href");
                        $(".content.home>.items>.item").each(function(){
                            if (itemlink == $(this).find(".item-title a").attr("href")) {
                                thus.remove();
                                return true;
                            }
                        });
                    });
                    
                    $(".content.home>.items>.item").last().css({"border-bottom": "1px solid whitesmoke"});      //还原末行底部边框
                    $(".content.home>.items .pagination").after($(".content.home>.items .pagination .current .items").html());
                    $(".content.home>.items .pagination").first().remove();
                    load_next_page();
                });
                return false;
            });
        } else {
            $(".content.home .items .pagination").remove();
        }
    }
    load_next_page();
    var loading = function(){
        if($(".loading").length <= 0){
            $(".loading").remove();
            $(".content.home").before("<p class=\"loading\" style=\"color:gray;text-align:center;display:none;\">加载中…</p>");
            $(".loading").slideDown();
        }
        $(".content.home").load("/ .items", function(response, status, xhr){
            $(".items").show();
            load_next_page();
            $(".loading").slideUp(function(){
                $(this).remove();
            });
        });
        $.getJSON("/u/notify/?type=json", function(json){
            if(json.status == "success"){
                if(json.notify.count != 0){
                    if ($(".notify-amount").length > 0){
                        $(".notify-amount").text(json.notify.count);
                        $(".notify-amount").addClass("notify-amount-new");
                    } else {
                        $(".header .right-navbar .accounts-button").after(" <a href=\"/u/notify/\" class=\"notify-amount notify-amount-new\">" + json.notify.count + "</a>");
                    }
                } else {
                    $(".notify-amount").text(json.notify.count);
                    $(".notify-amount").removeClass("notify-amount-new");
                }
            }
        });
    }
    $(".header .logo").click(function(){
        $(window).scrollTop(0);
        loading();
        return false;
    });
    
    var b = document.getElementsByClassName("container")[0];
    var x,y,scrollTop;
    var isTouch,isPullDown=false,isPullUp=false;
    
    b.addEventListener("touchstart", function(evt){
        var touch = evt.touches[0]; //获取第一个触点
        //x = Number(touch.pageX); //页面触点X坐标
        y = Number(touch.pageY); //页面触点Y坐标
        scrollTop=b.scrollTop;
        isTouch=true;
    });
    b.addEventListener("touchend", function(evt){
        isTouch=false;
        isPullDown=false;
        isPullUp=false;
    });
    b.addEventListener("touchmove", function(evt){
        var touch = evt.touches[0]; //获取第一个触点
        //var mx = Number(touch.pageX); //页面触点X坐标
        var my = Number(touch.pageY); //页面触点Y坐标
        
        if(isTouch){
            if(my - y > 120){
                if(b.scrollTop==0){
                    if(!isPullUp){
                        isPullUp=true;
                        loading();
                    }
                }
            }
            /*if( y-my > 100 ){
                if(scrollTop!=0 && scrollTop == b.scrollTop){
                    if(!isPullDown){
                        isPullDown=true;
                    }
                }
            }*/
        }
    });
});
</script>
{% endblock %}