{% extends "base.html" %}

{% block title %}发送私信 - {% endblock %}

{% block content %}
    <div class="content feedback">
        <h3>发送私信</h3>
        {% if submit %}
        <p>发送成功，多谢您的关注。</p>
        {% else %}
        <form method="post" class="itemform">
            {% csrf_token %}
            <p>
                <textarea name="feedback" class="feedbackinput"></textarea>
            </p>
            <p class="submit-btn"><input class="submit" type="submit" value="提交" /></p>
        </form>
        {% endif %}
    </div>
{% endblock %}
