{% extends "base.html" %}

{% block title %}{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}发送私信{% else %}Send Message{% endif %} - {% endblock %}

{% block content %}
    <div class="content feedback">
        <h3>{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}发送私信{% else %}Send Message{% endif %}</h3>
        {% if submit %}
        <p>{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}发送成功，多谢您的关注。{% else %}Send Successfully, Thank you.{% endif %}</p>
        {% else %}
        <form method="post" class="itemform">
            {% csrf_token %}
            <p>
                <textarea name="feedback" class="feedbackinput" placeholder="{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}请附上联系方式以便答复{% else %}Please leave your contact infomation for reply{% endif %}"></textarea>
            </p>
            <p class="submit-btn"><input class="submit" type="submit" value="{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}提交{% else %}Submit{% endif %}" /></p>
        </form>
        {% endif %}
    </div>
{% endblock %}
