{% extends "base.html" %}

{% block title %}反馈建议 - {% endblock %}

{% block content %}
    <div class="content feedback">
        <h3>反馈建议</h3>
        {% if submit %}
        <p>提交成功，多谢您的意见和建议。</p>
        {% else %}
        <form method="post">
            {% csrf_token %}
            <p><textarea name="feedback" class="feedbackinput"></textarea></p>
            <p class="submit-btn"><input class="submit" type="submit" value="提交" /></p>
        </form>
        {% endif %}
    </div>
{% endblock %}
