{% extends "base.html" %}

{% block title %}我的资料 - {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="content userprofile">
            <h3>我的资料</h3>
            <a href="/{{ user.username }}/"><div class="avatar" style="background: url({% if user.userprofile.openid %}{{ user.userprofile.avatar }}{% else %}{% if user.userprofile.avatar %}/s/{{ user.userprofile.avatar }}{% else %}/s/avatar/n.png{% endif %}{% endif %}) no-repeat;background-size: cover;background-position: center;"><img src="{% if user.userprofile.openid %}{{ user.userprofile.avatar }}{% else %}{% if user.userprofile.avatar %}/s/{{ user.userprofile.avatar }}{% else %}/s/avatar/n.png{% endif %}{% endif %}" /></div></a>
            <p class="operate">
                <a href="/i/">我的分享</a>
                <a href="/u/settings/">完善资料</a>
                <br />
                {% if not user.userprofile.openid %}<a href="/u/password_change/">修改密码</a>{% endif %}
                <a href="/u/logout/">退出登录</a>
                <br />
            </p>
            <p>帐号：{{ user.username }}</p>
            {% if not user.userprofile.openid %}<p>邮箱：{{ user.email }}</p>{% endif %}
            <p>签名：{{ user.userprofile.info }}</p>
            <span>简介：</span><pre class="description">{{ user.userprofile.profile }}</pre>
            <p class="created">注册于{{ user.userprofile.create|date:'Y年m月d日' }}</p>
        </div>
    {% endif %}
{% endblock %}
