{% extends "base.html" %}

{% block title %}会话列表 - {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="content messagesessions">
            <!--{% for messagesession in messagelist %}
            <p><a href="/u/m/{% for uruser in messagesession.urusers %}{% if uruser != messagesession.urusers|first %},{% endif %}{{ uruser.username }}{% endfor %}/" />
            {% for uruser in messagesession.urusers %}
                {% if uruser.userprofile.info %}{{ uruser.userprofile.info }}{% else %}{{ uruser.username }}{% endif %}
            {% endfor %}
            {% with messagesession.message.itemcontent_set.all|first as messagecontent %}({{ messagecontent.create|date:'Y-m-d H:i:s' }}):{{ messagecontent.content }}{% endwith %}
            </a></p>
            {% endfor %}-->
        </div>
    {% endif %}
{% endblock %}
{% block footer %}
<script type="text/javascript">
$(document).ready(function(){
    $(".header").html("<div style=\"background: black;color: white;font-weight: bold;text-align: center;height: 100%;\">会话列表</div>");
    $(".header").css({"margin": "0", "padding": "0"});
    $(".container").css({"padding-top": "auto"});
    $(".footer").hide();
    $("body").css({"height": "auto"});
    var refresh = function(messageid){
        $.ajax({
            url: "?type=json",
            dataType: "json",
            success: function(data){
                if (data.status == "success") {
                    for (i in data.messages){
                        var message = data.messages[i];
                        var usernames = "";
                        var userinfos = "";
                        for(i in message.urusers){
                            if(i != 0){
                                usernames += ",";
                                userinfos += "、";
                            }
                            usernames += message.urusers[i].username;
                            if(message.urusers[i].info != ""){
                                userinfos += message.urusers[i].info;
                            } else {
                                userinfos += message.urusers[i].username;
                            }
                        }
                        $(".messagesessions").append("<a href=\"/u/m/" + usernames + "\"><div class=\"line\"><div class=\"avatar-area\"><div class=\"avatar\" style=\"background: url(" + message.urusers[0].avatar + ") no-repeat;background-size: cover;background-position: center;\"><img src=" + message.urusers[0].avatar + " /></div></div><div class=\"line-main\"><div class=\"line-info\"><span class=\"line-info-right\">" + message.lastmessage.datetime.split(".")[0] + "</span><span class=\"line-info-left\">" + userinfos + "</span></div><div class=\"line-title\">" + message.lastmessage.content + "</div></div></div></a>");
                    }
                }
            }
        });
    }
    refresh(0);
});
</script>
{% endblock %}