{% extends "base.html" %}

{% block title %}注册 - {% endblock %}

{% block content %}
    <div class="content signup">
        <h3>注册</h3>
        <form method="post">
            {% csrf_token %}
            <p><input name="email" type="email" value="{{ form.email.value }}" placeholder="请输入邮箱" />
                {% if form.email.errors %}
                    <br />
                    {% if form.email.value %}
                        {% if 'Enter a valid email address.' in form.email.errors %}
                            <span class="error">格式错误</span>
                        {% elif 'User with this Email address already exists.' in form.email.errors %}
                            <span class="error">已被注册</span>
                        {% else %}
                            <span class="error">{{ form.email.errors }}</span>
                        {% endif %}
                    {% else %}
                        <span class="error">请填写邮箱</span>
                    {% endif %}
                {% endif %}
            </p>
            <p><input name="username" type="text" value="{{ form.username.value }}" placeholder="请输入账号" />
                {% if form.username.errors %}
                    <br />
                    {% if form.username.value %}
                        {% if 'Ensure this value has at least 6 characters' in form.username.errors %}
                            <span class="error">至少3位字符</span>
                        {% elif 'A user with that username already exists.' in form.username.errors %}
                            <span class="error">已被注册</span>
                        {% elif 'The username is not allowed.' in form.username.errors %}
                            <span class="error">不允许使用</span>
                        {% else %}
                            <span class="error">{{ form.username.errors }}</span>
                        {% endif %}
                    {% else %}
                        <span class="error">请填写账号</span>
                    {% endif %}
                {% endif %}
            </p>
            <p><input name="password1" type="password" placeholder="请输入密码" />
                {% if form.errors and not form.email.errors and not form.username.errors %}
                    <br />
                    <span class="error">密码填写错误</span>
                {% endif %}
            </p>
            <p><input name="password2" type="password" placeholder="请再次输入密码" /></p>
            <p><input class="submit" type="submit" value="注册" /></p>
            <p>已有帐号？<a href="{% url 'login' %}?next={% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.path }}{% endif %}">现在登录</a></p>
            <p><a href="?next={% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.path }}{% endif %}&type=qq"><img src="https://qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/Connect_logo_3.png" /></a></p>
        </form>
    </div>
{% endblock %}
