{% extends "base.html" %}
{% load i18n %}

{% block title %}{% if tag %}{{ tag.name }}{% else %}{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}页面不存在{% else %}Page Not Found{% endif %}{% endif %} - {% endblock %}

{% block content %}
    <div class="content-header">
    {% if tag %}
            <a class="pathlink homepathlink" href="/">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}首页{% else %}Home{% endif %}</a>
            <a class="pathlink">></a>
            <a class="pathlink subpathlink" href="/t/{{ tag.id }}/">{{ tag.name }}</a>
            <a class="createintagbtn" href="/i/create/?t={{ tag.name }}">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}发布信息{% else %}New Post{% endif %}</a>
    {% else %}
        <p>{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}抱歉，页面不存在。{% else %}Page Not Found.{% endif %}</p>
    {% endif %}
    </div>

    <div class="content home">
        <div class="items">
        {% for item in items %}
            {% include "item/itemline.html" %}
        {% endfor %}
        {% if items.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if items.has_previous %}
                    <a class="previous-page" href="?page={{ items.previous_page_number }}">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}上一页{% else %}Previous{% endif %}</a>
                {% endif %}

                <span class="current">
                    {{ items.number }} / {{ items.paginator.num_pages }}
                </span>

                {% if items.has_next %}
                    <a class="next-page" href="?page={{ items.next_page_number }}">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}下一页{% else %}Next{% endif %}</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="sidebar">
        {% include "widget/tag.html" %}
        {% include "widget/about.html" %}
    </div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).ready(function(){
    var load_next_page = function(){
        if ($(".content.home .items .pagination .next-page").length > 0) {
            $(".content.home>.items>.item").last().css({"border": "none"});     //去掉末行底部边框
            $(".content.home .items .pagination .current").hide();
            $(".content.home .items .pagination .previous-page").hide();
            $(".content.home .items .pagination .next-page").text("{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}加载更多{% else %}Load More{% endif %}");
            //$(".content.home .items .pagination .next-page").css({"width": "100%", "height":"30px"});
            $(".content.home .items .pagination .next-page").click(function(){
                var url = $(this).attr("href");
                $(".content.home .items .pagination .next-page").text("{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}加载中…{% else %}loading...{% endif %}");
                $(".content.home .items .pagination .next-page").attr("disabled",true);
                $(".content.home .items .pagination .current").load(url + " .items", function(){
                    //去掉页数超限情况下的重复项
                    $(".content.home>.items .pagination .current .items .item").each(function(){
                        var thus = $(this);
                        var itemlink = $(this).find(".item-title a").attr("href");
                        $(".content.home>.items>.item").each(function(){
                            if (itemlink == $(this).find(".item-title a").attr("href")) {
                                thus.remove();
                                return true;
                            }
                        });
                    });

                    $(".content.home>.items>.item").last().css({"border-bottom": "1px solid whitesmoke"});      //还原末行底部边框
                    $(".content.home>.items .pagination").after($(".content.home>.items .pagination .current .items").html());
                    $(".content.home>.items .pagination").first().remove();
                    load_next_page();
                });
                return false;
            });
        } else {
            $(".content.home .items .pagination").remove();
        }
    }
    load_next_page();

});
</script>
{% endblock %}
