* {
    font-family: times new roman;
}
html, body, .wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    display: none;
}
/*@keyframes changeposition {
    0%{
        margin-left: -50%;
    }
    100%{
        margin-left: 0;
    }
}
@-webkit-keyframes changeposition {
    0%{
        margin-left: -50%;
    }
    100%{
        margin-left: 0;
    }
}
@-moz-keyframes changeposition {
    0%{
        margin-left: -50%;
    }
    100%{
        margin-left: 0;
    }
}
@-o-keyframes changeposition {
    0%{
        margin-left: -50%;
    }
    100%{
        margin-left: 0;
    }
}
.ajaxloading{
    width: 100%;
    height: 2px;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: -12px;
    position: relative;
    overflow: hidden;
}
.ajaxloading span{
    display:block;
    width: 200%;
    height: 100%;
    border: 2px dashed green;
    border-radius: 2px;
    -webkit-animation: changeposition 10s linear infinite;
}*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 45px;
    background: black;
    text-align: center;
    z-index: 9999;
}
.header .header-left {
    color: white;
    width: 20%;
    visibility: hidden;
    cursor: pointer;
    float: left;
    margin-bottom: 3px;
    text-align: left;
}
.header .header-center {
    color: white;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    display: inline-block;
}
.header .header-right {
    color: white;
    width: 20%;
    cursor: pointer;
    float: right;
    margin-bottom: 3px;
    text-align: right;
}
.footer .footer-bar {
    color: black;
    display: table-cell;
    text-align: center;
}
.footer .footer-bar:hover {
    background: whitesmoke;
}
.footer .footer-bar-focus {
    background: whitesmoke;
}
.footer .footer-bar a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: white;
    border-top: 1px solid lightgray;
    line-height: 45px;
    display: table;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:visited {
    color: black;
}
input, textarea {
    font-size: inherit;
    font-family: times new roman;
}
img {
    max-width: 100%;
}
.line {
    border-bottom: 1px solid lightgray;
    margin: 0;
    padding: 7px;
}
.avatar-area {
    width: 48px;
    float: left;
    vertical-align: top;
}
.avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
}
.avatar img {
    width: 48px;
    height: 48px;
    opacity: 0;
    filter: alpha(opacity=0);
}
.line .line-info .line-info-left {
    color: black;
    font-size: medium;
    width: 50%;
    display: inline-block;
}
.line .line-info .line-info-right {
    width: 50%;
    text-align: right;
    font-size: small;
}
.line .line-info .line-info-left, .line .line-info .line-info-right {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.line .line-title {
    color: gray;
    margin-top: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.line .line-main {
    height: 48px;
    margin-left: 50px;
    cursor: pointer;
}
.line .line-main .line-info .line-info-right {
    color: lightgray;
    float: right;
}
.messagesession {
    width: 100%;
    height: calc(100% - 100px);
    top: 50px;
    left: 0;
    visibility: hidden;
    overflow-y: hidden;
    background: white;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}
.messagesession .historymessagesbox {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    background: white;
    left: 0;
    top: 0;
}
.messagesession .historymessages {
    width: 100%;
    max-height: calc(100% - 100px);
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    background: white;
    left: 0;
    bottom: 50px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}
.container::-webkit-scrollbar, .messagesession::-webkit-scrollbar, .messagesession .historymessages::-webkit-scrollbar {
    display: none;
}
.messagesession .message {
    padding-top: 12px;
}
.messagesession .message-me {
    text-align: right;
}
.messagesession .message-me .avatar-area {
    float: right;
}
.messagesession .message .avatar-area .avatar {
    margin-left: 12px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}
.messagesession .message .avatar-area .avatar img {
    width: 24px;
    height: 24px;
    opacity: 0;
    filter: alpha(opacity=0);
}
.messagesession .message .itemcontent-content {
    line-height: 24px;
    display: inline-block;
    margin-top: 0;
    max-width: 60%;
    text-align: left;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid lightgray;
    background: whitesmoke;
    padding: 0 7px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.messagesession .message .itemcontent-content a {
    color: skyblue;
}
.messagesession .sendmessageform {
    margin: 0;
    padding: 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: white;
    border-top: 1px solid lightgray;
}
.messagesession .sendmessageform .messagecontent {
    width: calc(100% - 30px);
    margin: 7px;
    line-height: 30px;
}
.messagesession .sendmessageform .sendmessage {
    display: none;
}
.messagesession .currentmessage .itemcontent-content {
    text-decoration: underline;
}
.messagesession .senderrormessage .itemcontent-content {
    color: lightgray;
}
