* {
    font-family: times new roman;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: times new roman;
    /*overflow: hidden;*/
}
.wrapper {
    width: 980px;
    height: inherit;
    margin: 0 auto;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:visited {
    color: black;
}
input:not(.file-input), textarea {
    font-size: inherit;
    font-family: times new roman;
}
img {
    max-width: 100%;
}
.error {
    color: red;
}
.submit {
    width: 100%;
}
.file {
    width: 100%;
}
.tips {
    color: lightgray;
    font-size: small;
}
.header {
    width: inherit;
    height: 24px;
    marging: 0;
    padding: 3px;
    border-bottom: 1px solid whitesmoke;
    position: fixed;
    background: whitesmoke;
    z-index: 999;
    box-shadow: 0 3px 3px 3px whitesmoke;
}
.header .logo {
    position: absolute;
    width: 72px;
    height: 24px;
    display: inline-block;
    text-decoration:none;
    font-weight: bold;
    font-size: 1.5em;
    color: gray;
    font-family: Arial;
    padding-left: 7px;
    padding-right: 7px;
    background: url(/s/hulu.png) no-repeat;
    background-size: 64px 24px;
    color: transparent;
    font-size: 0;
}
.header .right-navbar {
    position: absolute;
    right: 7px;
}
.header .right-navbar .header-navbar-button {
    background: lightgray;
    color: white;
    text-decoration:none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
    font-size: small;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.header .right-navbar a:not(.accounts-button):hover {
    background: gray;
    color: white;
}
.header .right-navbar a.accounts-button {
    position: relative;
}
.header .avatar-area {
	vertical-align: top;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    width: 24px;
    position: absolute;
    top: 0;
    left: 0;
}
.header .avatar-area .avatar {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    line-height: 24px;
}
.header .avatar-area .avatar img {
    width: 24px;
    height: 24px;
    opacity: 0;
	filter: alpha(opacity=0);
    line-height: 24px;
    vertical-align: middle;
}
.header .right-navbar a:not(.header-navbar-button){
    font-family: arial,sans-serif;
    /*background: gray;*/
    color: white;
    font-weight: bold;
    width: 24px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    text-align: center;
    font-size: small;
}
.header .right-navbar a:not(.accounts-button) {
    background: gray;
    color: white;
    display: inline-block;
    line-height: 24px;
}
.header .right-navbar a.notify-amount-new, .header .right-navbar a.notify-amount-new:hover {
    background: crimson;
}
.header .right-navbar a {
    background: none;
    opacity: 0.6;
	filter: alpha(opacity=60);
    text-decoration: none;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    vertical-align: top;
}
.header .right-navbar a:hover {
    opacity: 1;
	filter: alpha(opacity=100);
}
.pagination {
    text-align: center;
}
.container {
    padding-top: 27px;
    /*overflow: scroll;
    height: 100%;*/
}
.content {
    margin: 17px 0 17px 0;
    /*padding: 7px;*/
    min-height: 230px;
}
.content.item {
    width: 600px;
    float: left;
}
.sidebar {
    margin: 17px 0 17px 0;
    padding: 7px;
    width: 280px;
    float: right;
    position: fixed;
    right: calc((100% - 980px) / 2);
}
.content.signup p,.content.signup h3, .content.login p,.content.login h3, .content.account p,.content.account h3 {
    text-align: center;
}
.content.login .submit, .content.signup .submit, .content.account .submit {
    width: 220px;
}
p.cancel-btn {
    text-align: center;
}
.content .operate {
    text-align: right;
}
.content .operate a, .content .comment-operate a {
    font-size: small;
    color: white;
    background: gray;
    padding: 3px;
    line-height: 24px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    opacity: 0.6;
	filter: alpha(opacity=60);
}
.content .operate a:hover, .content .comment-operate a:hover {
    opacity: 1;
	filter: alpha(opacity=100);
}
.userinfo {
    color: lightgray;
}
.userprofile .description, .userpage .description {
	vertical-align: top;
    display: inline-block;
    margin: 0;
    font-family: Consolas;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
    word-break: break-all;
}
.userprofile .description {
    width: 80%;
}
.userprofile .created, .content.item .updated, .line .updated {
    text-align: right;
    color: lightgray;
    font-size: small;
}
.setting .description textarea{
	vertical-align:top;
	overflow-y:visible;
    width: 80%;
    height: 7em;
}
.userpage .title .avatar, .content.userprofile .avatar, .content.setting .avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    float: left;
}
.userpage .title .avatar img, .content.userprofile .avatar img, .content.setting .avatar img {
    width: 48px;
    height: 48px;
    opacity: 0;
	filter: alpha(opacity=0);
}
.userpage .title .user {
	vertical-align:top;
    line-height: 48px;
}
.userpage .title .user .name {
	vertical-align:top;
    line-height: 30px;
}
.userpage .title .user .username {
    font-size: small;
    font-weight: normal;
	vertical-align:top;
    line-height: 18px;
}
.userpage .title a {
	text-decoration:none;
}
.content.create .description textarea, .content.item .description textarea, .line .description textarea {
	vertical-align:top;
	overflow-y:visible;
    width: 100%;
    height: 7em;
}
.content.items .item-line .item-title, .content.items .item-line .item-info{
    display: inline-block;
}
.content.items .item-line .item-title a, .line .line-main .line-title a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content.items .item-line .item-info {
    float: right;
    color: lightgray;
    font-size: small;
}
.itemcontent {
    border-bottom: 1px dashed lightgray;
    line-height: 2em;
}
.itemcontent-content pre {
    line-height: 1.5;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
    word-break: break-all;
    font-family: Consolas;
}
.item-info .comment-reply-to {
    width: calc(100% - 30px);
    display: inline-block;
    margin-left: 30px;
    color: gray;
}
.home .item:not(:last-child), .line:not(:last-child), .comment, .home .createbutton {
    margin-bottom: 3px;
    border-bottom: 1px solid whitesmoke;
}
.home .createbutton {
    font-size: small;
    text-align: right;
    margin-top: -7px;
}
.home .item .avatar-area, .line .avatar-area, .comment .comment-avatar-area, .content.message .avatar-area {
    width: 30px;
    float: left;
	vertical-align: top;
}
.content.message .message-me .avatar-area {
    float: right;
}
.home .item .avatar, .line .avatar, .comment .comment-avatar-area .comment-avatar, .content.message .avatar-area .avatar {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}
.home .item .avatar img, .line .avatar img, .comment .comment-avatar-area .comment-avatar img, .content.message .avatar-area .avatar img {
    width: 24px;
    height: 24px;
    opacity: 0;
	filter: alpha(opacity=0);
}
.home .item .item-line, .line .line-main/*, .comment .comment-line, .comment .itemcontent-content*/ {
    margin-left: 30px;
}
.home .item .item-line .item-author, .line .line-main .line-info .line-info-left, .comment .comment-line .comment-author {
    font-size: small;
    font-weight: normal;
	vertical-align: top;
    height: 18px;
    color: gray;
}
.home .item .item-line .item-author, .comment .comment-line .comment-author {
	text-decoration:none;
    color: gray;
}
.home .item .item-line .item-title a:visited {
    /*color: gray;*/
}
.home .items {
    
}
.home .items .item-line .item-title {
    line-height: 2em;
    vertical-align: middle;
	word-wrap: break-word;
    word-break: break-all;
}
.comment-content .comment-reply-to {
    display: inline-block;
    color: gray;
    font-size: small;
}
.comment-content .cancel-comment-reply {
    display: inline-block;
    color: gray;
    font-size: small;
    float: right;
    cursor: pointer;
}
.comment .comment-content {
	vertical-align: top;
    display: inline-block;
    margin: 0;
    font-family: Consolas;
	font-size: 16px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
    word-break: break-all;
    width: 100%;
}
.comment .comment-operate {
    text-align: right;
}
.comment .comment-operate a {
    
}
.home .item .item-info, .line .line-info, .comment .comment-info {
    font-size: small;
    line-height: 18px;
    color: gray;
}
.home .item .item-info .item-created, .line .line-info .line-info-right, .home .item .item-info .userinfo {
    color: lightgray;
}
.home .item .item-info .item-created:hover, .line .line-info .line-info-right:hover, .home .item .item-info .item-author:hover {
    text-decoration: none;
}
.home .item .item-info .item-info-right, .line .line-info .line-info-right, .comment .comment-info .comment-created {
    float: right;
    text-align: right;
}
.home .item .item-title {
    
}
.home .subitemcount {
    font-family: arial, sans-serif;
    background: lightgray;
    color: black;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-align: center;
    float: right;
    font-size: small;
    height: 1em;
    line-height: 1em;
	text-decoration:none;
    float: right;
    /*margin: 7px 0 7px 7px;*/
    margin-top: 7px;
}
.home .subitemcount:visited {
    background: lightgray;
    color: white;
}
.home .next-page, .home .previous-page {
    width: 100%;
    display: block;
    padding: 3px;
    background: lightgray;
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.content.item .avatar-area {
    width: 48px;
    float: left;
}
.content.item .avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
}
.content.item .avatar img {
    width: 48px;
    height: 48px;
    opacity: 0;
	filter: alpha(opacity=0);
}
.content.item .item-head {
    margin-left: 50px;
}
.content.item .item-title {
    line-height: 30px;
    margin: 0;
}
.content.item .item-info {
    /*height: 18px;*/
    color: gray;
    font-size: small;
}
.content.item .item-info .item-author {
    
}
.content.item .item-info a {
	text-decoration:none;
    color: gray;
}
.content.item .item-info .item-created, .line .line-main .line-info .line-info-right {
    color: lightgray;
    float: right;
}
.content.item .line {
    margin: 7px 0 7px 0;
}
.content.item .description {
	vertical-align: top;
    margin: 0;
    font-family: Consolas;
	font-size: 16px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
    word-break: break-all;
}
.content.create .amount, .content.update .amount, .content.create .reword, .content.update .reword {
    width: 50px;
}
.content.notify a {
    font-weight: bold;
}
.content.message {
    margin-bottom: 0;
    padding: 0;
}
.msgbox {
    width: 100%;
    height: 80vh;
    position: relative;
}
.historymessages {
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    position: absolute;
    bottom: 0;
}
.historymessages::-webkit-scrollbar {
    display: none;
}
.message-me {
    text-align: right;
}
.sendmessageform {
    margin: 0;
    padding: 0;
    text-align: center;
}
.sendmessage {
    display: none;
}
.messagecontent {
    width: calc(100% - 20px);
}
.messagesessions a .line {
    border-bottom: 1px solid lightgray;
    margin: 0;
    padding: 7px 0 7px 0;
}
.messagesessions .avatar-area {
    width: 48px;
    float: left;
	vertical-align: top;
}
.messagesessions .avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
}
.messagesessions .avatar img {
    width: 48px;
    height: 48px;
    opacity: 0;
	filter: alpha(opacity=0);
}
.messagesessions .line .line-info .line-info-left {
    color: black;
    font-size: medium;
    width: 50%;
    display: inline-block;
}
.messagesessions .line .line-info .line-info-right {
    width: 50%;
}
.messagesessions .line .line-info .line-info-left, .messagesessions .line .line-info .line-info-right {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.messagesessions .line .line-title {
    color: gray;
    font-size: large;
    margin-top: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.messagesessions .line .line-main {
    height: 48px;
    margin-left: 50px;
}
.newsendmessageform {
    display: inline-block;
    float: right;
}
.newsendmessageform .newsendmessage {
    font-size: small;
    color: white;
    background: gray;
    padding: 3px;
    line-height: 24px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.newsendmessageform .newsendmessage:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.feedback textarea, .content.item form textarea, .content form textarea {
	vertical-align: top;
	overflow-y:visible;
    width: 100%;
    height: 7em;
}
.footer {
    padding: 7px;
    border-top: 1px solid whitesmoke;
    text-align: center;
    background: whitesmoke;
    box-shadow: 0 -3px 3px 3px whitesmoke;
    clear: both;
}

.item-tags .item-tag {
    display: inline-block;
    margin: 3px;
    padding: 3px;
    font-size: x-small;
    background: lightgray;
    color: white;
}
