{% extends "base.html" %}

{% block title %}找回密码 - {% endblock %}

{% block content %}
    <div class="content account">
        <h3>找回密码</h3>
        <form method="post">
            {% csrf_token %}
            <p><input name="email" type="email" value="{{ form.email.value }}" placeholder="请输入注册邮箱" />
                {% if form.email.errors %}
                    <br />
                    {% if form.email.value %}
                        {% if 'Enter a valid email address.' in form.email.errors %}
                            <span class="error">格式错误</span>
                        {% else %}
                            <span class="error">尚未注册</span>
                        {% endif %}
                    {% else %}
                        <span class="error">请填写邮箱</span>
                    {% endif %}
                {% endif %}
            </p>
            <p><input class="submit" type="submit" value="提交" /></p>
            <p class="cancel-btn"><a href="/u/">取消</a></p>
        </form>
    </div>
{% endblock %}
