{% extends "base.html" %}

{% block title %}{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}密码修改成功{% else %}Password Changed Successfully{% endif %} - {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="content pwcd">
            <p>{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}密码修改成功。{% else %}Password Changed Successfully.{% endif %}<a href="/u/">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}返回我的信息{% else %}Back to My Settings{% endif %}</a></p>
        </div>
    {% endif %}
{% endblock %}
