{% extends "base.html" %}

{% block title %}{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}密码重置成功{% else %}Password Reset Successfully{% endif %} - {% endblock %}

{% block content %}
    <div class="content pwcd">
        <p>{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}密码重置成功。{% else %}Password Reset Successfully.{% endif %}<a href="/u/login/">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}登录{% else %}Sign in{% endif %}</a></p>
    </div>
{% endblock %}
