{% extends "base.html" %}

{% block title %}{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}找回密码{% else %}Reset Password{% endif %} - {% endblock %}

{% block content %}
    <div class="content account">
        <h3>{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}找回密码{% else %}Reset Password{% endif %}</h3>
        <form method="post">
            {% csrf_token %}
            <p><input name="email" type="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" placeholder="{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}请输入注册邮箱{% else %}Email{% endif %}" />
                {% if form.email.errors %}
                    <br />
                    {% if form.email.value %}
                        {% if 'Enter a valid email address.' in form.email.errors %}
                            <span class="error">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}邮箱输入错误{% else %}Email is error{% endif %}</span>
                        {% else %}
                            <span class="error">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}邮箱输入错误{% else %}This Email has not Signed up{% endif %}</span>
                        {% endif %}
                    {% else %}
                        <span class="error">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}邮箱输入错误{% else %}Email is error{% endif %}</span>
                    {% endif %}
                {% endif %}
            </p>
            <p><input class="submit" type="submit" value="{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}提交{% else %}Submit{% endif %}" /></p>
            <p class="cancel-btn"><a href="/u/">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}取消{% else %}Cancel{% endif %}</a></p>
        </form>
    </div>
{% endblock %}
