{% extends "base.html" %}

{% block title %}{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}修改密码{% else %}Change Password{% endif %} - {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="content account">
            <h3>{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}修改密码{% else %}Change Password{% endif %}</h3>
            {% if user.userprofile.openid %}
                <p>{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}您使用的是第三方帐号登录。{% else %}You Signed in with OAUTH.{% endif %}</p>
            {% else %}
                {% if form.errors %}
                    <p class="error">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}请填写正确的密码{% else %}Please check your Password{% endif %}</p>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <p><input name="old_password" type="password" placeholder="{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}请输入旧密码{% else %}Old Password{% endif %}" /></p>
                    <p><input name="new_password1" type="password" placeholder="{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}请输入新密码{% else %}New Password{% endif %}" /></p>
                    <p><input name="new_password2" type="password" placeholder="{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}请再次输入新密码{% else %}New Password{% endif %}" /></p>
                    <p><input class="submit" type="submit" value="{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}提交{% else %}Submit{% endif %}" /></p>
                    <p class="cancel-btn"><a href="/u/">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}取消{% else %}Cancel{% endif %}</a></p>
                </form>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
