{% extends "base.html" %}

{% block title %}修改密码 - {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="content account">
            <h3>修改密码</h3>
            {% if user.userprofile.openid %}
                <p>您使用的是第三方帐号登录。</p>
            {% else %}
                {% if form.errors %}
                    <p class="error">请填写正确的密码</p>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <p><input name="old_password" type="password" placeholder="请输入旧密码" /></p>
                    <p><input name="new_password1" type="password" placeholder="请输入新密码" /></p>
                    <p><input name="new_password2" type="password" placeholder="请再次输入新密码" /></p>
                    <p><input class="submit" type="submit" value="提交" /></p>
                    <p class="cancel-btn"><a href="/u/">取消</a></p>
                </form>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
