{% extends "base.html" %}

{% block title %}{% if 'zh-cn' in request.META.HTTP_ACCEPT_LANGUAGE %}找回密码{% else %}Reset Password{% endif %} - {% endblock %}

{% block content %}
    <div class="content pwcd">
        <p>{% if 'zh-cn' in request.META.HTTP_ACCEPT_LANGUAGE %}密码重置链接已发送至您的注册邮箱，请查收。{% else %}The Password Reset link has been sent to your Email, Please check it.{% endif %}</p>
        <p><a href="{% url 'login' %}">{% if 'zh-cn' in request.META.HTTP_ACCEPT_LANGUAGE %}登录{% else %}Sign in{% endif %}</a></p>
    </div>
{% endblock %}
